html, body { 
    height: 100%;
    scroll-behavior: smooth;
}

body { 
    margin: 0; 
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mr-16 {
    margin-right: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.full-width {
    width: 100%;
}